.footer {
  background-color: var(--black-color);
  border-top: 1px solid var(--black-color);
}

.footer__container {
  padding: 2rem 0 2rem;
}

.footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: .3s;
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.active__footer__link,
.footer__link:hover {
  color: var(--selected-header);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
  flex-wrap: wrap;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social__link {
  font-size: 1.25rem;
  color: var(--title-color);
}

.footer__social__link:hover {
  color: var(--title-color-dark);
}

.footer__copy {
  display: block;
  margin-top: 3rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}